---
layout: default
---

<style type="text/css" media="screen">
	#container {
		text-align: justify;
	}

	#container #title {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		margin-bottom: 1.5rem;
		text-align: center;
	}

	#container #title h1 {
		font-size: 2rem;
		margin: 0;
	}

	#container #title img {
		aspect-ratio: 1;
		width: 4rem;
		object-fit: cover;
		border-radius: 0.5rem;
	}


	@media only screen and (min-width: 800px) {
		#container #title {
			display: grid;
			grid-template-columns: auto 1fr;
			text-align: justify;
		}

		#container #title img {
			grid-row: 1 / 3;
		}
	}
</style>

{% assign lang = page.lang | default: "en" %}

{% if lang == "cs" %}
	{% assign dateformat = "%d. %m. %Y" %}
{% else %}
	{% assign dateformat = "%B %e, %Y" %}
{% endif %}

{% if page.title %}
	{% if page.image %}
		{% assign image = site.root | append: "/assets/images/posts/" | append: page.image %}
	{% else %}
		{% assign image = site.root | append: "/assets/images/post-default.svg" %}
	{% endif %}

	<section id="title">
		<img src='{{ image }}'>
		<h1>{{ page.title }}</h1>
		<small>{{ page.date | date: dateformat }}</small>
	</section>
{% endif %}

{{ content }}
